header{
    text-align: center;
	font-size: 45px;
	color:hotpink;
}
.mm{
	color:hotpink;

}
.firs{
	display: block;
  font-size: 29px;
}
.hel{
	font-size:20px;
}
#sss{
	border-radius:50% 0 50%;
}
.firs:hover{
	background-color:black;
	color:white;
}
.hel:hover{
	background-color:black;
	color:white;

}
.hel_h3:hover{
	color: :pink;
}
body{
	background-color: mintcream;
}
